<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-200 dark:divide-gray-800">
        <% @reports.each do |report| %>
          <div class="space-y-4 py-6 md:py-8">
            <div class="grid gap-4">

              <div>
                <span class="inline-block rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300 md:mb-0"><%= time_ago_in_words(report["created_at"]) %> ago</span>
              </div>

              <p class="text-xl font-semibold text-gray-900 dark:text-white"><%= report["title"] %></p>
            </div>
            <div class="prose text-base font-normal text-gray-500 dark:text-gray-400">
                <%= raw(report["content"]) %>
            </div>
            <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
              <% report["files"].each do |file| %>
                <ul>
                  <li class="text-sm font-medium text-gray-500 dark:text-gray-400">
                    <%= link_to file["url"] do %>
                      <div class="flex gap-3 items-center">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8v8a5 5 0 1 0 10 0V6.5a3.5 3.5 0 1 0-7 0V15a2 2 0 0 0 4 0V8"/>
                        </svg>
                        <b><%= file["filename"] %></b>
                      </div>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            </p>
            <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
              Publicado em <%= report["created_at"].to_time.strftime('%d/%m/%Y - %H:%M') %>
            </p>
          </div>
        <% end %>  
      </div>
    </div>
</section>